knowledge_base_auditor/MLB_KB_Auditor_Engine.blueprint.json
{
    "name": "MLB_KB_Auditor_Engine",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 2346997,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 123,
                    "y": -2,
                    "name": "[Trigger] Receive Ticket Payload"
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "KB_Auditor_Intake"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "ticket_id",
                        "type": "text"
                    },
                    {
                        "name": "resolution_notes",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 22,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 9002390
            },
            "filter": null,
            "mapper": {
                "model": "gpt-4o-mini",
                "top_p": "1",
                "select": "chat",
                "messages": [
                    {
                        "role": "system",
                        "content": "You are an IT keyword extractor. \n\nAnalyze the resolution notes and extract ONE SINGLE WORD that represents the core action or primary software involved. \n\nFocus on root terms like \"password\", \"vpn\", \"okta\", \"locked\", or \"access\".\nOutput ONLY that single word. No punctuation.\n"
                    },
                    {
                        "role": "user",
                        "content": "{{1.resolution_notes}}",
                        "imageDetail": "auto"
                    }
                ],
                "max_tokens": "2048",
                "temperature": "1",
                "n_completions": "1",
                "response_format": "text"
            },
            "metadata": {
                "designer": {
                    "x": 593,
                    "y": -7,
                    "name": "[AI] Extract Search Keyword"
                },
                "restore": {
                    "expect": {
                        "stop": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4o-mini (system)Fast, affordable small model for focused tasks"
                        },
                        "select": {
                            "label": "Create a Chat Completion (GPT and o1 models)"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "Developer / System"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "imageDetail": {
                                        "mode": "chose",
                                        "label": "Auto"
                                    },
                                    "imageInputType": {
                                        "mode": "chose",
                                        "label": "Empty"
                                    }
                                }
                            ]
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "tool_choice": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "Text"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "My OpenAI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability"
                        },
                        "type": "array",
                        "label": "Token Probability"
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "tool_choice",
                        "type": "select",
                        "label": "Tool Choice",
                        "validate": {
                            "enum": [
                                "none",
                                "auto",
                                "required"
                            ]
                        }
                    },
                    {
                        "name": "stop",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter"
                        },
                        "type": "array",
                        "label": "Other Input Parameters"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Output Tokens"
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": {
                                        "store": [
                                            {
                                                "label": "User",
                                                "value": "user",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    },
                                                    {
                                                        "name": "imageInputType",
                                                        "type": "select",
                                                        "label": "Image Input Type",
                                                        "options": [
                                                            {
                                                                "label": "URL",
                                                                "value": "url",
                                                                "nested": [
                                                                    {
                                                                        "help": "Make sure to use a publicly accessible URL.\nYou can test if your image is publicly accessible by opening the link in an incognito tab.",
                                                                        "name": "imageUrl",
                                                                        "type": "url",
                                                                        "label": "Image URL"
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Image File",
                                                                "value": "file",
                                                                "nested": [
                                                                    {
                                                                        "name": "imageFile",
                                                                        "spec": [
                                                                            {
                                                                                "help": "Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`.",
                                                                                "name": "imageFilename",
                                                                                "type": "filename",
                                                                                "label": "Image Filename",
                                                                                "semantic": "file:name",
                                                                                "extension": [
                                                                                    "jpg",
                                                                                    "jpeg",
                                                                                    "png",
                                                                                    "webp",
                                                                                    "gif"
                                                                                ]
                                                                            },
                                                                            {
                                                                                "name": "imageData",
                                                                                "type": "buffer",
                                                                                "label": "Image Data",
                                                                                "semantic": "file:data"
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Image"
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                        "mappable": false
                                                    },
                                                    {
                                                        "help": "Recommended value: `Auto`",
                                                        "name": "imageDetail",
                                                        "type": "select",
                                                        "label": "Image Detail",
                                                        "options": [
                                                            {
                                                                "label": "Auto",
                                                                "value": "auto",
                                                                "default": true
                                                            },
                                                            {
                                                                "label": "High",
                                                                "value": "high"
                                                            },
                                                            {
                                                                "label": "Low",
                                                                "value": "low"
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "default": true
                                            },
                                            {
                                                "label": "Assistant",
                                                "value": "assistant",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    },
                                                    {
                                                        "mode": "edit",
                                                        "name": "tool_calls",
                                                        "spec": {
                                                            "spec": [
                                                                {
                                                                    "name": "type",
                                                                    "type": "hidden",
                                                                    "default": "function"
                                                                },
                                                                {
                                                                    "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.",
                                                                    "name": "id",
                                                                    "type": "text",
                                                                    "label": "Tool call ID"
                                                                },
                                                                {
                                                                    "name": "function",
                                                                    "spec": [
                                                                        {
                                                                            "help": "The name of the function previously called.",
                                                                            "name": "name",
                                                                            "type": "text",
                                                                            "label": "Name",
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "help": "The arguments previously output by the AI.",
                                                                            "name": "arguments",
                                                                            "type": "text",
                                                                            "label": "Arguments",
                                                                            "required": true
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Function"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Tool Call"
                                                        },
                                                        "type": "array",
                                                        "label": "Tool Calls",
                                                        "labels": {
                                                            "add": "Add tool call"
                                                        },
                                                        "mappable": {
                                                            "help": "You can map the entire `Choices[]: Message.Tool Calls` array from a previous Create a Completion module here."
                                                        }
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Developer / System",
                                                "value": "system",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Tool",
                                                "value": "tool",
                                                "nested": [
                                                    {
                                                        "help": "The return of the function. This role should only be used when you have processed a previous function call and want to send the output of the function execution back to the AI.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content",
                                                        "required": true
                                                    },
                                                    {
                                                        "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.",
                                                        "name": "tool_call_id",
                                                        "type": "text",
                                                        "label": "Tool Call ID.",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "prediction",
                        "type": "text",
                        "label": "Predicted Outputs"
                    }
                ],
                "interface": [
                    {
                        "name": "result",
                        "type": "any",
                        "label": "Result"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "model",
                        "type": "text",
                        "label": "Model"
                    },
                    {
                        "name": "choices",
                        "spec": [
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            },
                            {
                                "name": "index",
                                "type": "number",
                                "label": "Index"
                            },
                            {
                                "name": "logprobs",
                                "type": "text",
                                "label": "Log Probs"
                            },
                            {
                                "name": "finish_reason",
                                "type": "text",
                                "label": "Finish Reason"
                            },
                            {
                                "name": "message",
                                "spec": [
                                    {
                                        "name": "role",
                                        "type": "text",
                                        "label": "Role"
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "tool_calls",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "function",
                                                "spec": [
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Name"
                                                    },
                                                    {
                                                        "name": "arguments",
                                                        "type": "text",
                                                        "label": "Arguments"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Function"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Tool Calls"
                                    },
                                    {
                                        "name": "refusal",
                                        "type": "text",
                                        "label": "Refusal"
                                    },
                                    {
                                        "name": "annotations",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "url_citation",
                                                "spec": [
                                                    {
                                                        "name": "end_index",
                                                        "type": "number",
                                                        "label": "End Index"
                                                    },
                                                    {
                                                        "name": "start_index",
                                                        "type": "number",
                                                        "label": "Start Index"
                                                    },
                                                    {
                                                        "name": "title",
                                                        "type": "text",
                                                        "label": "Title"
                                                    },
                                                    {
                                                        "name": "url",
                                                        "type": "text",
                                                        "label": "URL"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "URL Citation"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Annotations"
                                    }
                                ],
                                "type": "collection",
                                "label": "Message"
                            }
                        ],
                        "type": "array",
                        "label": "Choices"
                    },
                    {
                        "name": "usage",
                        "spec": [
                            {
                                "name": "prompt_tokens",
                                "type": "number",
                                "label": "Prompt Tokens"
                            },
                            {
                                "name": "completion_tokens",
                                "type": "text",
                                "label": "Completion Tokens"
                            },
                            {
                                "name": "total_tokens",
                                "type": "number",
                                "label": "Total Tokens"
                            },
                            {
                                "name": "prompt_tokens_details",
                                "spec": [
                                    {
                                        "name": "cached_tokens",
                                        "type": "uinteger",
                                        "label": "Cached Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "image_tokens",
                                        "type": "uinteger",
                                        "label": "Image Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Prompt Tokens Details"
                            },
                            {
                                "name": "completion_tokens_details",
                                "spec": [
                                    {
                                        "name": "reasoning_tokens",
                                        "type": "uinteger",
                                        "label": "Reasoning Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    },
                                    {
                                        "name": "accepted_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Accepted Prediction Tokens"
                                    },
                                    {
                                        "name": "rejected_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Rejected Prediction Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Completion Tokens Details"
                            }
                        ],
                        "type": "collection",
                        "label": "Usage"
                    },
                    {
                        "name": "service_tier",
                        "type": "text",
                        "label": "Service Tier"
                    },
                    {
                        "name": "system_fingerprint",
                        "type": "text",
                        "label": "System Fingerprint"
                    }
                ]
            },
            "onerror": [
                {
                    "id": 27,
                    "module": "supabase:createARow",
                    "version": 1,
                    "parameters": {
                        "__IMTCONN__": 9107932
                    },
                    "mapper": {
                        "table": "error_logs",
                        "ticket_id": "{{1.ticket_id}}",
                        "module_name": "Keyword Extractor",
                        "error_message": "{{22.error.message}}"
                    },
                    "metadata": {
                        "designer": {
                            "x": 893,
                            "y": 143,
                            "name": "[Error Log] Catch Extractor Failure"
                        },
                        "restore": {
                            "expect": {
                                "table": {
                                    "mode": "chose",
                                    "label": "error_logs",
                                    "nested": [
                                        {
                                            "help": "Defaults to gen_random_uuid(). Note:\nThis is a Primary Key.<pk/>",
                                            "name": "id",
                                            "type": "text",
                                            "label": "id",
                                            "options": null,
                                            "required": false
                                        },
                                        {
                                            "help": "",
                                            "name": "ticket_id",
                                            "type": "text",
                                            "label": "ticket_id",
                                            "options": null,
                                            "required": false
                                        },
                                        {
                                            "help": "",
                                            "name": "module_name",
                                            "type": "text",
                                            "label": "module_name",
                                            "options": null,
                                            "required": false
                                        },
                                        {
                                            "help": "",
                                            "name": "error_message",
                                            "type": "text",
                                            "label": "error_message",
                                            "options": null,
                                            "required": false
                                        },
                                        {
                                            "help": "Defaults to timezone('utc'::text, now()). ",
                                            "name": "created_at",
                                            "type": "text",
                                            "label": "created_at",
                                            "options": null,
                                            "required": false
                                        }
                                    ]
                                }
                            },
                            "parameters": {
                                "__IMTCONN__": {
                                    "data": {
                                        "scoped": "true",
                                        "connection": "supabase"
                                    },
                                    "label": "Supabase MLB Production v2"
                                }
                            }
                        },
                        "parameters": [
                            {
                                "name": "__IMTCONN__",
                                "type": "account:supabase",
                                "label": "Connection",
                                "required": true
                            }
                        ],
                        "expect": [
                            {
                                "name": "table",
                                "type": "select",
                                "label": "Table",
                                "required": true
                            },
                            {
                                "name": "id",
                                "type": "text"
                            },
                            {
                                "name": "ticket_id",
                                "type": "text"
                            },
                            {
                                "name": "module_name",
                                "type": "text"
                            },
                            {
                                "name": "error_message",
                                "type": "text"
                            },
                            {
                                "name": "created_at",
                                "type": "text"
                            },
                            {
                                "name": "table",
                                "type": "select",
                                "label": "Table",
                                "required": true
                            },
                            {
                                "name": "id",
                                "type": "text"
                            },
                            {
                                "name": "ticket_id",
                                "type": "text"
                            },
                            {
                                "name": "module_name",
                                "type": "text"
                            },
                            {
                                "name": "error_message",
                                "type": "text"
                            },
                            {
                                "name": "created_at",
                                "type": "text"
                            }
                        ],
                        "interface": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "id"
                            },
                            {
                                "name": "ticket_id",
                                "type": "text",
                                "label": "ticket_id"
                            },
                            {
                                "name": "module_name",
                                "type": "text",
                                "label": "module_name"
                            },
                            {
                                "name": "error_message",
                                "type": "text",
                                "label": "error_message"
                            },
                            {
                                "name": "created_at",
                                "type": "text",
                                "label": "created_at"
                            }
                        ]
                    }
                }
            ]
        },
        {
            "id": 21,
            "module": "supabase:searchRows",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 9107300
            },
            "mapper": {
                "limit": "1",
                "table": "knowledge_base_index",
                "search": [
                    [
                        {
                            "a": "key_phrases",
                            "b": "%{{22.choices[].message.content}}%",
                            "o": "text:ilike."
                        }
                    ]
                ]
            },
            "metadata": {
                "designer": {
                    "x": 893,
                    "y": -157,
                    "name": "[DB] Query Knowledge Index"
                },
                "restore": {
                    "expect": {
                        "table": {
                            "mode": "chose",
                            "label": "knowledge_base_index",
                            "nested": [
                                {
                                    "name": "search",
                                    "type": "filter",
                                    "label": "Search criteria",
                                    "options": {
                                        "logic": "and",
                                        "store": [
                                            {
                                                "label": "id",
                                                "value": "id"
                                            },
                                            {
                                                "label": "doc_id",
                                                "value": "doc_id"
                                            },
                                            {
                                                "label": "title",
                                                "value": "title"
                                            },
                                            {
                                                "label": "key_phrases",
                                                "value": "key_phrases"
                                            },
                                            {
                                                "label": "created_at",
                                                "value": "created_at"
                                            }
                                        ],
                                        "operators": [
                                            {
                                                "label": "Text",
                                                "options": [
                                                    {
                                                        "label": "Equals",
                                                        "value": "text:eq."
                                                    },
                                                    {
                                                        "label": "Does not equal",
                                                        "value": "text:neq."
                                                    },
                                                    {
                                                        "label": "Contains (case sensitive)",
                                                        "value": "text:like."
                                                    },
                                                    {
                                                        "label": "Contains (case insensitive)",
                                                        "value": "text:ilike."
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Numbers",
                                                "options": [
                                                    {
                                                        "label": "Equals",
                                                        "value": "number:eq."
                                                    },
                                                    {
                                                        "label": "Does not equal",
                                                        "value": "number:neq."
                                                    },
                                                    {
                                                        "label": "Greater than",
                                                        "value": "number:gt."
                                                    },
                                                    {
                                                        "label": "Less than",
                                                        "value": "number:lt."
                                                    },
                                                    {
                                                        "label": "Greater than or equal to",
                                                        "value": "number:gte."
                                                    },
                                                    {
                                                        "label": "Less than or equal to",
                                                        "value": "number:lte."
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Date",
                                                "options": [
                                                    {
                                                        "label": "Equals",
                                                        "value": "date:eq."
                                                    },
                                                    {
                                                        "label": "Does not equal",
                                                        "value": "date:neq."
                                                    },
                                                    {
                                                        "label": "Later than",
                                                        "value": "date:gt."
                                                    },
                                                    {
                                                        "label": "Earlier than",
                                                        "value": "date:lt."
                                                    },
                                                    {
                                                        "label": "Later than or equal to",
                                                        "value": "date:gte."
                                                    },
                                                    {
                                                        "label": "Earlier than or equal to",
                                                        "value": "date:lte."
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Boolean",
                                                "options": [
                                                    {
                                                        "label": "Equals",
                                                        "value": "boolean:eq."
                                                    },
                                                    {
                                                        "label": "Does not equal",
                                                        "value": "boolean:neq."
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "supabase"
                            },
                            "label": "My Supabase connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:supabase",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "search",
                        "type": "filter",
                        "label": "Search criteria",
                        "options": {
                            "logic": "and",
                            "store": [
                                {
                                    "label": "id",
                                    "value": "id"
                                },
                                {
                                    "label": "doc_id",
                                    "value": "doc_id"
                                },
                                {
                                    "label": "title",
                                    "value": "title"
                                },
                                {
                                    "label": "key_phrases",
                                    "value": "key_phrases"
                                },
                                {
                                    "label": "created_at",
                                    "value": "created_at"
                                }
                            ],
                            "operators": [
                                {
                                    "label": "Text",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "text:eq."
                                        },
                                        {
                                            "label": "Does not equal",
                                            "value": "text:neq."
                                        },
                                        {
                                            "label": "Contains (case sensitive)",
                                            "value": "text:like."
                                        },
                                        {
                                            "label": "Contains (case insensitive)",
                                            "value": "text:ilike."
                                        }
                                    ]
                                },
                                {
                                    "label": "Numbers",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "number:eq."
                                        },
                                        {
                                            "label": "Does not equal",
                                            "value": "number:neq."
                                        },
                                        {
                                            "label": "Greater than",
                                            "value": "number:gt."
                                        },
                                        {
                                            "label": "Less than",
                                            "value": "number:lt."
                                        },
                                        {
                                            "label": "Greater than or equal to",
                                            "value": "number:gte."
                                        },
                                        {
                                            "label": "Less than or equal to",
                                            "value": "number:lte."
                                        }
                                    ]
                                },
                                {
                                    "label": "Date",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "date:eq."
                                        },
                                        {
                                            "label": "Does not equal",
                                            "value": "date:neq."
                                        },
                                        {
                                            "label": "Later than",
                                            "value": "date:gt."
                                        },
                                        {
                                            "label": "Earlier than",
                                            "value": "date:lt."
                                        },
                                        {
                                            "label": "Later than or equal to",
                                            "value": "date:gte."
                                        },
                                        {
                                            "label": "Earlier than or equal to",
                                            "value": "date:lte."
                                        }
                                    ]
                                },
                                {
                                    "label": "Boolean",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "boolean:eq."
                                        },
                                        {
                                            "label": "Does not equal",
                                            "value": "boolean:neq."
                                        }
                                    ]
                                }
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "id"
                    },
                    {
                        "name": "doc_id",
                        "type": "text",
                        "label": "doc_id"
                    },
                    {
                        "name": "title",
                        "type": "text",
                        "label": "title"
                    },
                    {
                        "name": "key_phrases",
                        "type": "text",
                        "label": "key_phrases"
                    },
                    {
                        "name": "created_at",
                        "type": "text",
                        "label": "created_at"
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 9002390
            },
            "mapper": {
                "model": "gpt-4o-mini",
                "top_p": "1",
                "select": "chat",
                "messages": [
                    {
                        "role": "system",
                        "content": "You are the Global Knowledge Architect for MLB Tech Services. \nAnalyze incoming ticket resolutions and compare them against our LIVE KB LIST.\n\nLIVE KB LIST:\n- Title: {{21.title}}\n- Key Phrases: {{21.key_phrases}}\n- Document ID: {{21.doc_id}}\n\nCRITICAL ROUTING RULES:\n1. HALT (needs_draft: false): You MUST set needs_draft to false if the specific software/issue is explicitly mentioned in an approved KB title OR if there is already an \"AI DRAFT\" pending for this exact issue in the LIVE KB LIST. Do NOT create duplicate drafts.\n2. GENERATE (needs_draft: true): If the software/issue is NOT explicitly listed in the approved titles AND there is NO pending \"AI DRAFT\" for it, you MUST set needs_draft to true.\n\nAnalyze the incoming ticket resolution against that list. Output ONLY JSON.\n\nSchema:\n{\n  \"needs_draft\": true/false,\n  \"topic\": \"A 3-5 word title summarizing the software and issue\",\n  \"wiki_format\": \"Procedural\" / \"Break-Fix\" / \"Historical\",\n  \"reason\": \"Brief explanation of why\"\n}\n"
                    },
                    {
                        "role": "user",
                        "content": "Ticket Resolution: {{1.resolution_notes}}\n\nSearch Results from Internal Knowledge Base:\n- Document Title: {{21.title}}\n- Key Phrases Match: {{21.key_phrases}}\n- Document ID: {{21.doc_id}}\n",
                        "imageDetail": "auto"
                    }
                ],
                "max_tokens": "2048",
                "temperature": "1",
                "n_completions": "1",
                "response_format": "json_object",
                "parseJSONResponse": false
            },
            "metadata": {
                "designer": {
                    "x": 1307,
                    "y": -2,
                    "name": "[AI] Audit & Decide Routing"
                },
                "restore": {
                    "expect": {
                        "stop": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4o-mini (system)Fast, affordable small model for focused tasks"
                        },
                        "select": {
                            "label": "Create a Chat Completion (GPT and o1 models)"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "Developer / System"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "imageDetail": {
                                        "mode": "chose",
                                        "label": "Auto"
                                    },
                                    "imageInputType": {
                                        "mode": "chose",
                                        "label": "Empty"
                                    }
                                }
                            ]
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "tool_choice": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "JSON Object"
                        },
                        "parseJSONResponse": {
                            "mode": "chose"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "My OpenAI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability"
                        },
                        "type": "array",
                        "label": "Token Probability"
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "tool_choice",
                        "type": "select",
                        "label": "Tool Choice",
                        "validate": {
                            "enum": [
                                "none",
                                "auto",
                                "required"
                            ]
                        }
                    },
                    {
                        "name": "stop",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter"
                        },
                        "type": "array",
                        "label": "Other Input Parameters"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Output Tokens"
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": {
                                        "store": [
                                            {
                                                "label": "User",
                                                "value": "user",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    },
                                                    {
                                                        "name": "imageInputType",
                                                        "type": "select",
                                                        "label": "Image Input Type",
                                                        "options": [
                                                            {
                                                                "label": "URL",
                                                                "value": "url",
                                                                "nested": [
                                                                    {
                                                                        "help": "Make sure to use a publicly accessible URL.\nYou can test if your image is publicly accessible by opening the link in an incognito tab.",
                                                                        "name": "imageUrl",
                                                                        "type": "url",
                                                                        "label": "Image URL"
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Image File",
                                                                "value": "file",
                                                                "nested": [
                                                                    {
                                                                        "name": "imageFile",
                                                                        "spec": [
                                                                            {
                                                                                "help": "Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`.",
                                                                                "name": "imageFilename",
                                                                                "type": "filename",
                                                                                "label": "Image Filename",
                                                                                "semantic": "file:name",
                                                                                "extension": [
                                                                                    "jpg",
                                                                                    "jpeg",
                                                                                    "png",
                                                                                    "webp",
                                                                                    "gif"
                                                                                ]
                                                                            },
                                                                            {
                                                                                "name": "imageData",
                                                                                "type": "buffer",
                                                                                "label": "Image Data",
                                                                                "semantic": "file:data"
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Image"
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                        "mappable": false
                                                    },
                                                    {
                                                        "help": "Recommended value: `Auto`",
                                                        "name": "imageDetail",
                                                        "type": "select",
                                                        "label": "Image Detail",
                                                        "options": [
                                                            {
                                                                "label": "Auto",
                                                                "value": "auto",
                                                                "default": true
                                                            },
                                                            {
                                                                "label": "High",
                                                                "value": "high"
                                                            },
                                                            {
                                                                "label": "Low",
                                                                "value": "low"
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "default": true
                                            },
                                            {
                                                "label": "Assistant",
                                                "value": "assistant",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    },
                                                    {
                                                        "mode": "edit",
                                                        "name": "tool_calls",
                                                        "spec": {
                                                            "spec": [
                                                                {
                                                                    "name": "type",
                                                                    "type": "hidden",
                                                                    "default": "function"
                                                                },
                                                                {
                                                                    "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.",
                                                                    "name": "id",
                                                                    "type": "text",
                                                                    "label": "Tool call ID"
                                                                },
                                                                {
                                                                    "name": "function",
                                                                    "spec": [
                                                                        {
                                                                            "help": "The name of the function previously called.",
                                                                            "name": "name",
                                                                            "type": "text",
                                                                            "label": "Name",
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "help": "The arguments previously output by the AI.",
                                                                            "name": "arguments",
                                                                            "type": "text",
                                                                            "label": "Arguments",
                                                                            "required": true
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Function"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Tool Call"
                                                        },
                                                        "type": "array",
                                                        "label": "Tool Calls",
                                                        "labels": {
                                                            "add": "Add tool call"
                                                        },
                                                        "mappable": {
                                                            "help": "You can map the entire `Choices[]: Message.Tool Calls` array from a previous Create a Completion module here."
                                                        }
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Developer / System",
                                                "value": "system",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Tool",
                                                "value": "tool",
                                                "nested": [
                                                    {
                                                        "help": "The return of the function. This role should only be used when you have processed a previous function call and want to send the output of the function execution back to the AI.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content",
                                                        "required": true
                                                    },
                                                    {
                                                        "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.",
                                                        "name": "tool_call_id",
                                                        "type": "text",
                                                        "label": "Tool Call ID.",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "prediction",
                        "type": "text",
                        "label": "Predicted Outputs"
                    },
                    {
                        "name": "parseJSONResponse",
                        "type": "boolean",
                        "label": "Parse JSON Response",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "result",
                        "type": "any",
                        "label": "Result"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "model",
                        "type": "text",
                        "label": "Model"
                    },
                    {
                        "name": "choices",
                        "spec": [
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            },
                            {
                                "name": "index",
                                "type": "number",
                                "label": "Index"
                            },
                            {
                                "name": "logprobs",
                                "type": "text",
                                "label": "Log Probs"
                            },
                            {
                                "name": "finish_reason",
                                "type": "text",
                                "label": "Finish Reason"
                            },
                            {
                                "name": "message",
                                "spec": [
                                    {
                                        "name": "role",
                                        "type": "text",
                                        "label": "Role"
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "tool_calls",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "function",
                                                "spec": [
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Name"
                                                    },
                                                    {
                                                        "name": "arguments",
                                                        "type": "text",
                                                        "label": "Arguments"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Function"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Tool Calls"
                                    },
                                    {
                                        "name": "refusal",
                                        "type": "text",
                                        "label": "Refusal"
                                    },
                                    {
                                        "name": "annotations",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "url_citation",
                                                "spec": [
                                                    {
                                                        "name": "end_index",
                                                        "type": "number",
                                                        "label": "End Index"
                                                    },
                                                    {
                                                        "name": "start_index",
                                                        "type": "number",
                                                        "label": "Start Index"
                                                    },
                                                    {
                                                        "name": "title",
                                                        "type": "text",
                                                        "label": "Title"
                                                    },
                                                    {
                                                        "name": "url",
                                                        "type": "text",
                                                        "label": "URL"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "URL Citation"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Annotations"
                                    }
                                ],
                                "type": "collection",
                                "label": "Message"
                            }
                        ],
                        "type": "array",
                        "label": "Choices"
                    },
                    {
                        "name": "usage",
                        "spec": [
                            {
                                "name": "prompt_tokens",
                                "type": "number",
                                "label": "Prompt Tokens"
                            },
                            {
                                "name": "completion_tokens",
                                "type": "text",
                                "label": "Completion Tokens"
                            },
                            {
                                "name": "total_tokens",
                                "type": "number",
                                "label": "Total Tokens"
                            },
                            {
                                "name": "prompt_tokens_details",
                                "spec": [
                                    {
                                        "name": "cached_tokens",
                                        "type": "uinteger",
                                        "label": "Cached Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "image_tokens",
                                        "type": "uinteger",
                                        "label": "Image Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Prompt Tokens Details"
                            },
                            {
                                "name": "completion_tokens_details",
                                "spec": [
                                    {
                                        "name": "reasoning_tokens",
                                        "type": "uinteger",
                                        "label": "Reasoning Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    },
                                    {
                                        "name": "accepted_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Accepted Prediction Tokens"
                                    },
                                    {
                                        "name": "rejected_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Rejected Prediction Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Completion Tokens Details"
                            }
                        ],
                        "type": "collection",
                        "label": "Usage"
                    },
                    {
                        "name": "service_tier",
                        "type": "text",
                        "label": "Service Tier"
                    },
                    {
                        "name": "system_fingerprint",
                        "type": "text",
                        "label": "System Fingerprint"
                    }
                ],
                "advanced": true
            },
            "onerror": [
                {
                    "id": 26,
                    "module": "supabase:createARow",
                    "version": 1,
                    "parameters": {
                        "__IMTCONN__": 9107932
                    },
                    "mapper": {
                        "table": "error_logs",
                        "ticket_id": "{{1.ticket_id}}",
                        "module_name": "Tier 1 AI Auditor",
                        "error_message": "{{8.error.message}}"
                    },
                    "metadata": {
                        "designer": {
                            "x": 1601,
                            "y": 227,
                            "name": "[Error Log] Catch Auditor Failure"
                        },
                        "restore": {
                            "expect": {
                                "table": {
                                    "mode": "chose",
                                    "label": "error_logs",
                                    "nested": [
                                        {
                                            "help": "Defaults to gen_random_uuid(). Note:\nThis is a Primary Key.<pk/>",
                                            "name": "id",
                                            "type": "text",
                                            "label": "id",
                                            "options": null,
                                            "required": false
                                        },
                                        {
                                            "help": "",
                                            "name": "ticket_id",
                                            "type": "text",
                                            "label": "ticket_id",
                                            "options": null,
                                            "required": false
                                        },
                                        {
                                            "help": "",
                                            "name": "module_name",
                                            "type": "text",
                                            "label": "module_name",
                                            "options": null,
                                            "required": false
                                        },
                                        {
                                            "help": "",
                                            "name": "error_message",
                                            "type": "text",
                                            "label": "error_message",
                                            "options": null,
                                            "required": false
                                        },
                                        {
                                            "help": "Defaults to timezone('utc'::text, now()). ",
                                            "name": "created_at",
                                            "type": "text",
                                            "label": "created_at",
                                            "options": null,
                                            "required": false
                                        }
                                    ]
                                }
                            },
                            "parameters": {
                                "__IMTCONN__": {
                                    "data": {
                                        "scoped": "true",
                                        "connection": "supabase"
                                    },
                                    "label": "Supabase MLB Production v2"
                                }
                            }
                        },
                        "parameters": [
                            {
                                "name": "__IMTCONN__",
                                "type": "account:supabase",
                                "label": "Connection",
                                "required": true
                            }
                        ],
                        "expect": [
                            {
                                "name": "table",
                                "type": "select",
                                "label": "Table",
                                "required": true
                            },
                            {
                                "name": "id",
                                "type": "text"
                            },
                            {
                                "name": "ticket_id",
                                "type": "text"
                            },
                            {
                                "name": "module_name",
                                "type": "text"
                            },
                            {
                                "name": "error_message",
                                "type": "text"
                            },
                            {
                                "name": "created_at",
                                "type": "text"
                            },
                            {
                                "name": "table",
                                "type": "select",
                                "label": "Table",
                                "required": true
                            },
                            {
                                "name": "id",
                                "type": "text"
                            },
                            {
                                "name": "ticket_id",
                                "type": "text"
                            },
                            {
                                "name": "module_name",
                                "type": "text"
                            },
                            {
                                "name": "error_message",
                                "type": "text"
                            },
                            {
                                "name": "created_at",
                                "type": "text"
                            }
                        ],
                        "interface": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "id"
                            },
                            {
                                "name": "ticket_id",
                                "type": "text",
                                "label": "ticket_id"
                            },
                            {
                                "name": "module_name",
                                "type": "text",
                                "label": "module_name"
                            },
                            {
                                "name": "error_message",
                                "type": "text",
                                "label": "error_message"
                            },
                            {
                                "name": "created_at",
                                "type": "text",
                                "label": "created_at"
                            }
                        ]
                    }
                }
            ]
        },
        {
            "id": 10,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": ""
            },
            "mapper": {
                "json": "{{8.choices[].message.content}}"
            },
            "metadata": {
                "designer": {
                    "x": 1607,
                    "y": -152,
                    "name": "[Format] Parse AI Decision"
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "Choose a data structure"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 1907,
                    "y": -2,
                    "name": "[Router] Halt vs. Draft"
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 16,
                            "module": "openai-gpt-3:CreateCompletion",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 9002390
                            },
                            "filter": {
                                "name": "Generate AI Draft",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{10.needs_draft}}",
                                            "b": "{{true}}",
                                            "o": "boolean:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "model": "o4-mini",
                                "top_p": "1",
                                "select": "chat",
                                "messages": [
                                    {
                                        "role": "system",
                                        "content": "You are a Senior Technical Writer for MLB Tech Services. \nYour task is to transform raw ticket resolution notes into a concise, highly actionable internal Knowledge Base (KB) article. \n\nCRITICAL INSTRUCTIONS:\n- Do NOT write this like a ServiceNow ticket. Strip away verbose background stories, technician commentary, or fluff.\n- Keep it minimalist, direct, and strictly instructional.\n- REBRANDING RULE: If the raw notes mention \"Kandji\", you MUST rebrand it to \"Iru\" in the final documentation. \n\nREQUIRED FORMAT:\nOutput your response exactly in this clean Markdown structure. Do not deviate:\n\n**Draft Rationale:** [State the Reason provided in the prompt]\n---\n**Title: [Insert relevant System/App] - [Brief Issue Description]**\n\n**Troubleshooting Steps:**"
                                    },
                                    {
                                        "role": "user",
                                        "content": "Raw Notes: {{1.resolution_notes}}\n\nReason for Draft: {{10.reason}}\n",
                                        "imageDetail": "auto"
                                    }
                                ],
                                "max_tokens": "2048",
                                "temperature": "1",
                                "n_completions": "1",
                                "response_format": "text"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2325,
                                    "y": -7,
                                    "name": "[AI] Generate New Wiki Draft"
                                },
                                "restore": {
                                    "expect": {
                                        "stop": {
                                            "mode": "chose"
                                        },
                                        "model": {
                                            "mode": "chose",
                                            "label": "o4-mini (system)Fast, cost-efficient reasoning model, succeeded by GPT-5 mini"
                                        },
                                        "select": {
                                            "label": "Create a Chat Completion (GPT and o1 models)"
                                        },
                                        "messages": {
                                            "mode": "chose",
                                            "items": [
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "Developer / System"
                                                    }
                                                },
                                                {
                                                    "role": {
                                                        "mode": "chose",
                                                        "label": "User"
                                                    },
                                                    "imageDetail": {
                                                        "mode": "chose",
                                                        "label": "Auto"
                                                    },
                                                    "imageInputType": {
                                                        "mode": "chose",
                                                        "label": "Empty"
                                                    }
                                                }
                                            ]
                                        },
                                        "logit_bias": {
                                            "mode": "chose"
                                        },
                                        "tool_choice": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "response_format": {
                                            "mode": "chose",
                                            "label": "Text"
                                        },
                                        "reasoning_effort": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "additionalParameters": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "openai-gpt-3"
                                            },
                                            "label": "My OpenAI connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:openai-gpt-3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Select Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "chat",
                                                "prompt"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "temperature",
                                        "type": "number",
                                        "label": "Temperature",
                                        "validate": {
                                            "max": 2,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "top_p",
                                        "type": "number",
                                        "label": "Top P",
                                        "validate": {
                                            "max": 1,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "n_completions",
                                        "type": "number",
                                        "label": "Number"
                                    },
                                    {
                                        "name": "frequency_penalty",
                                        "type": "number",
                                        "label": "Frequency Penalty",
                                        "validate": {
                                            "max": 2,
                                            "min": -2
                                        }
                                    },
                                    {
                                        "name": "presence_penalty",
                                        "type": "number",
                                        "label": "Presence Penalty",
                                        "validate": {
                                            "max": 2,
                                            "min": -2
                                        }
                                    },
                                    {
                                        "name": "logit_bias",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "token",
                                                    "type": "text",
                                                    "label": "Token ID",
                                                    "required": true
                                                },
                                                {
                                                    "name": "probability",
                                                    "type": "number",
                                                    "label": "Probability",
                                                    "required": true,
                                                    "validate": {
                                                        "max": 100,
                                                        "min": -100
                                                    }
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Token Probability"
                                        },
                                        "type": "array",
                                        "label": "Token Probability"
                                    },
                                    {
                                        "name": "seed",
                                        "type": "integer",
                                        "label": "Seed"
                                    },
                                    {
                                        "name": "tool_choice",
                                        "type": "select",
                                        "label": "Tool Choice",
                                        "validate": {
                                            "enum": [
                                                "none",
                                                "auto",
                                                "required"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "stop",
                                        "spec": {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Stop Sequence"
                                        },
                                        "type": "array",
                                        "label": "Stop Sequences",
                                        "validate": {
                                            "maxItems": 4
                                        }
                                    },
                                    {
                                        "name": "additionalParameters",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "key",
                                                    "type": "text",
                                                    "label": "Parameter Name",
                                                    "required": true
                                                },
                                                {
                                                    "name": "type",
                                                    "type": "select",
                                                    "label": "Input Type",
                                                    "options": [
                                                        {
                                                            "label": "Text",
                                                            "value": "text",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "text",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ],
                                                            "default": true
                                                        },
                                                        {
                                                            "label": "Number",
                                                            "value": "number",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "number",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Boolean",
                                                            "value": "boolean",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "boolean",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Date",
                                                            "value": "date",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "date",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "label": "Any",
                                                            "value": "any",
                                                            "nested": [
                                                                {
                                                                    "name": "value",
                                                                    "type": "any",
                                                                    "label": "Parameter Value"
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Input Parameter"
                                        },
                                        "type": "array",
                                        "label": "Other Input Parameters"
                                    },
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "Model",
                                        "required": true
                                    },
                                    {
                                        "name": "max_tokens",
                                        "type": "uinteger",
                                        "label": "Max Output Tokens"
                                    },
                                    {
                                        "name": "messages",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "role",
                                                    "type": "select",
                                                    "label": "Role",
                                                    "options": {
                                                        "store": [
                                                            {
                                                                "label": "User",
                                                                "value": "user",
                                                                "nested": [
                                                                    {
                                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                                        "name": "content",
                                                                        "type": "text",
                                                                        "label": "Text Content"
                                                                    },
                                                                    {
                                                                        "name": "imageInputType",
                                                                        "type": "select",
                                                                        "label": "Image Input Type",
                                                                        "options": [
                                                                            {
                                                                                "label": "URL",
                                                                                "value": "url",
                                                                                "nested": [
                                                                                    {
                                                                                        "help": "Make sure to use a publicly accessible URL.\nYou can test if your image is publicly accessible by opening the link in an incognito tab.",
                                                                                        "name": "imageUrl",
                                                                                        "type": "url",
                                                                                        "label": "Image URL"
                                                                                    }
                                                                                ]
                                                                            },
                                                                            {
                                                                                "label": "Image File",
                                                                                "value": "file",
                                                                                "nested": [
                                                                                    {
                                                                                        "name": "imageFile",
                                                                                        "spec": [
                                                                                            {
                                                                                                "help": "Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`.",
                                                                                                "name": "imageFilename",
                                                                                                "type": "filename",
                                                                                                "label": "Image Filename",
                                                                                                "semantic": "file:name",
                                                                                                "extension": [
                                                                                                    "jpg",
                                                                                                    "jpeg",
                                                                                                    "png",
                                                                                                    "webp",
                                                                                                    "gif"
                                                                                                ]
                                                                                            },
                                                                                            {
                                                                                                "name": "imageData",
                                                                                                "type": "buffer",
                                                                                                "label": "Image Data",
                                                                                                "semantic": "file:data"
                                                                                            }
                                                                                        ],
                                                                                        "type": "collection",
                                                                                        "label": "Image"
                                                                                    }
                                                                                ]
                                                                            }
                                                                        ],
                                                                        "mappable": false
                                                                    },
                                                                    {
                                                                        "help": "Recommended value: `Auto`",
                                                                        "name": "imageDetail",
                                                                        "type": "select",
                                                                        "label": "Image Detail",
                                                                        "options": [
                                                                            {
                                                                                "label": "Auto",
                                                                                "value": "auto",
                                                                                "default": true
                                                                            },
                                                                            {
                                                                                "label": "High",
                                                                                "value": "high"
                                                                            },
                                                                            {
                                                                                "label": "Low",
                                                                                "value": "low"
                                                                            }
                                                                        ]
                                                                    }
                                                                ],
                                                                "default": true
                                                            },
                                                            {
                                                                "label": "Assistant",
                                                                "value": "assistant",
                                                                "nested": [
                                                                    {
                                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                                        "name": "content",
                                                                        "type": "text",
                                                                        "label": "Text Content"
                                                                    },
                                                                    {
                                                                        "mode": "edit",
                                                                        "name": "tool_calls",
                                                                        "spec": {
                                                                            "spec": [
                                                                                {
                                                                                    "name": "type",
                                                                                    "type": "hidden",
                                                                                    "default": "function"
                                                                                },
                                                                                {
                                                                                    "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.",
                                                                                    "name": "id",
                                                                                    "type": "text",
                                                                                    "label": "Tool call ID"
                                                                                },
                                                                                {
                                                                                    "name": "function",
                                                                                    "spec": [
                                                                                        {
                                                                                            "help": "The name of the function previously called.",
                                                                                            "name": "name",
                                                                                            "type": "text",
                                                                                            "label": "Name",
                                                                                            "required": true
                                                                                        },
                                                                                        {
                                                                                            "help": "The arguments previously output by the AI.",
                                                                                            "name": "arguments",
                                                                                            "type": "text",
                                                                                            "label": "Arguments",
                                                                                            "required": true
                                                                                        }
                                                                                    ],
                                                                                    "type": "collection",
                                                                                    "label": "Function"
                                                                                }
                                                                            ],
                                                                            "type": "collection",
                                                                            "label": "Tool Call"
                                                                        },
                                                                        "type": "array",
                                                                        "label": "Tool Calls",
                                                                        "labels": {
                                                                            "add": "Add tool call"
                                                                        },
                                                                        "mappable": {
                                                                            "help": "You can map the entire `Choices[]: Message.Tool Calls` array from a previous Create a Completion module here."
                                                                        }
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Developer / System",
                                                                "value": "system",
                                                                "nested": [
                                                                    {
                                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                                        "name": "content",
                                                                        "type": "text",
                                                                        "label": "Text Content"
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Tool",
                                                                "value": "tool",
                                                                "nested": [
                                                                    {
                                                                        "help": "The return of the function. This role should only be used when you have processed a previous function call and want to send the output of the function execution back to the AI.",
                                                                        "name": "content",
                                                                        "type": "text",
                                                                        "label": "Text Content",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.",
                                                                        "name": "tool_call_id",
                                                                        "type": "text",
                                                                        "label": "Tool Call ID.",
                                                                        "required": true
                                                                    }
                                                                ]
                                                            }
                                                        ]
                                                    },
                                                    "required": true
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Message"
                                        },
                                        "type": "array",
                                        "label": "Messages",
                                        "required": true
                                    },
                                    {
                                        "name": "response_format",
                                        "type": "select",
                                        "label": "Response Format",
                                        "validate": {
                                            "enum": [
                                                "text",
                                                "json_object"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "reasoning_effort",
                                        "type": "select",
                                        "label": "Reasoning Effort",
                                        "validate": {
                                            "enum": [
                                                "minimal",
                                                "low",
                                                "medium",
                                                "high"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "result",
                                        "type": "any",
                                        "label": "Result"
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "object",
                                        "type": "text",
                                        "label": "Object"
                                    },
                                    {
                                        "name": "created",
                                        "type": "date",
                                        "label": "Created"
                                    },
                                    {
                                        "name": "model",
                                        "type": "text",
                                        "label": "Model"
                                    },
                                    {
                                        "name": "choices",
                                        "spec": [
                                            {
                                                "name": "text",
                                                "type": "text",
                                                "label": "Text"
                                            },
                                            {
                                                "name": "index",
                                                "type": "number",
                                                "label": "Index"
                                            },
                                            {
                                                "name": "logprobs",
                                                "type": "text",
                                                "label": "Log Probs"
                                            },
                                            {
                                                "name": "finish_reason",
                                                "type": "text",
                                                "label": "Finish Reason"
                                            },
                                            {
                                                "name": "message",
                                                "spec": [
                                                    {
                                                        "name": "role",
                                                        "type": "text",
                                                        "label": "Role"
                                                    },
                                                    {
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Content"
                                                    },
                                                    {
                                                        "name": "tool_calls",
                                                        "spec": [
                                                            {
                                                                "name": "id",
                                                                "type": "text",
                                                                "label": "ID"
                                                            },
                                                            {
                                                                "name": "type",
                                                                "type": "text",
                                                                "label": "Type"
                                                            },
                                                            {
                                                                "name": "function",
                                                                "spec": [
                                                                    {
                                                                        "name": "name",
                                                                        "type": "text",
                                                                        "label": "Name"
                                                                    },
                                                                    {
                                                                        "name": "arguments",
                                                                        "type": "text",
                                                                        "label": "Arguments"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Function"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Tool Calls"
                                                    },
                                                    {
                                                        "name": "refusal",
                                                        "type": "text",
                                                        "label": "Refusal"
                                                    },
                                                    {
                                                        "name": "annotations",
                                                        "spec": [
                                                            {
                                                                "name": "type",
                                                                "type": "text",
                                                                "label": "Type"
                                                            },
                                                            {
                                                                "name": "url_citation",
                                                                "spec": [
                                                                    {
                                                                        "name": "end_index",
                                                                        "type": "number",
                                                                        "label": "End Index"
                                                                    },
                                                                    {
                                                                        "name": "start_index",
                                                                        "type": "number",
                                                                        "label": "Start Index"
                                                                    },
                                                                    {
                                                                        "name": "title",
                                                                        "type": "text",
                                                                        "label": "Title"
                                                                    },
                                                                    {
                                                                        "name": "url",
                                                                        "type": "text",
                                                                        "label": "URL"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "URL Citation"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Annotations"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Message"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Choices"
                                    },
                                    {
                                        "name": "usage",
                                        "spec": [
                                            {
                                                "name": "prompt_tokens",
                                                "type": "number",
                                                "label": "Prompt Tokens"
                                            },
                                            {
                                                "name": "completion_tokens",
                                                "type": "text",
                                                "label": "Completion Tokens"
                                            },
                                            {
                                                "name": "total_tokens",
                                                "type": "number",
                                                "label": "Total Tokens"
                                            },
                                            {
                                                "name": "prompt_tokens_details",
                                                "spec": [
                                                    {
                                                        "name": "cached_tokens",
                                                        "type": "uinteger",
                                                        "label": "Cached Tokens"
                                                    },
                                                    {
                                                        "name": "text_tokens",
                                                        "type": "uinteger",
                                                        "label": "Text Tokens"
                                                    },
                                                    {
                                                        "name": "image_tokens",
                                                        "type": "uinteger",
                                                        "label": "Image Tokens"
                                                    },
                                                    {
                                                        "name": "audio_tokens",
                                                        "type": "uinteger",
                                                        "label": "Audio Tokens"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Prompt Tokens Details"
                                            },
                                            {
                                                "name": "completion_tokens_details",
                                                "spec": [
                                                    {
                                                        "name": "reasoning_tokens",
                                                        "type": "uinteger",
                                                        "label": "Reasoning Tokens"
                                                    },
                                                    {
                                                        "name": "text_tokens",
                                                        "type": "uinteger",
                                                        "label": "Text Tokens"
                                                    },
                                                    {
                                                        "name": "audio_tokens",
                                                        "type": "uinteger",
                                                        "label": "Audio Tokens"
                                                    },
                                                    {
                                                        "name": "accepted_prediction_tokens",
                                                        "type": "uinteger",
                                                        "label": "Accepted Prediction Tokens"
                                                    },
                                                    {
                                                        "name": "rejected_prediction_tokens",
                                                        "type": "uinteger",
                                                        "label": "Rejected Prediction Tokens"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Completion Tokens Details"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Usage"
                                    },
                                    {
                                        "name": "service_tier",
                                        "type": "text",
                                        "label": "Service Tier"
                                    },
                                    {
                                        "name": "system_fingerprint",
                                        "type": "text",
                                        "label": "System Fingerprint"
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 18,
                            "module": "google-docs:createADocument",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 9000450
                            },
                            "mapper": {
                                "name": "AI DRAFT - {{10.topic}} - {{1.ticket_id}} - {{formatDate(now; \"MM-DD-YYYY HH:mm\")}}",
                                "footer": false,
                                "header": false,
                                "content": "{{16.choices[].message.content}}",
                                "folderId": "/10Tff42W-EFbFwHCt6HeFgpWHSJFfwbOC/1K0TOYSfgO4eseCLsydGvlM6J1_5WyfaP",
                                "destination": "drive"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2846,
                                    "y": -5,
                                    "name": "[Drive] Create Draft Document"
                                },
                                "restore": {
                                    "expect": {
                                        "folderId": {
                                            "mode": "chose",
                                            "path": [
                                                "MLB Master Knowledge Base",
                                                "AI Drafts - Needs Review"
                                            ]
                                        },
                                        "destination": {
                                            "label": "My Drive"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (amogg1992@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name",
                                        "required": true
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content",
                                        "required": true
                                    },
                                    {
                                        "name": "destination",
                                        "type": "select",
                                        "label": "Choose a Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "header",
                                        "type": "boolean",
                                        "label": "Insert a Header",
                                        "required": true
                                    },
                                    {
                                        "name": "footer",
                                        "type": "boolean",
                                        "label": "Insert a Footer",
                                        "required": true
                                    },
                                    {
                                        "name": "folderId",
                                        "type": "folder",
                                        "label": "New Document's Location",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 25,
                            "module": "supabase:createARow",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 9107932
                            },
                            "mapper": {
                                "table": "knowledge_base_index",
                                "title": "{{10.topic}}",
                                "doc_id": "PENDING-AI-DRAFT",
                                "key_phrases": "{{22.choices[].message.content}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3146,
                                    "y": -5,
                                    "name": "[DB Auto-Index] Log New Draft to Cache"
                                },
                                "restore": {
                                    "expect": {
                                        "table": {
                                            "mode": "chose",
                                            "label": "knowledge_base_index",
                                            "nested": [
                                                {
                                                    "help": "Defaults to gen_random_uuid(). Note:\nThis is a Primary Key.<pk/>",
                                                    "name": "id",
                                                    "type": "text",
                                                    "label": "id",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "doc_id",
                                                    "type": "text",
                                                    "label": "doc_id",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "title",
                                                    "type": "text",
                                                    "label": "title",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "key_phrases",
                                                    "type": "text",
                                                    "label": "key_phrases",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "Defaults to timezone('utc'::text, now()). ",
                                                    "name": "created_at",
                                                    "type": "text",
                                                    "label": "created_at",
                                                    "options": null,
                                                    "required": false
                                                }
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "supabase"
                                            },
                                            "label": "Supabase MLB Production v2"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:supabase",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "text"
                                    },
                                    {
                                        "name": "doc_id",
                                        "type": "text"
                                    },
                                    {
                                        "name": "title",
                                        "type": "text"
                                    },
                                    {
                                        "name": "key_phrases",
                                        "type": "text"
                                    },
                                    {
                                        "name": "created_at",
                                        "type": "text"
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "text"
                                    },
                                    {
                                        "name": "doc_id",
                                        "type": "text"
                                    },
                                    {
                                        "name": "title",
                                        "type": "text"
                                    },
                                    {
                                        "name": "key_phrases",
                                        "type": "text"
                                    },
                                    {
                                        "name": "created_at",
                                        "type": "text"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "id"
                                    },
                                    {
                                        "name": "doc_id",
                                        "type": "text",
                                        "label": "doc_id"
                                    },
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "title"
                                    },
                                    {
                                        "name": "key_phrases",
                                        "type": "text",
                                        "label": "key_phrases"
                                    },
                                    {
                                        "name": "created_at",
                                        "type": "text",
                                        "label": "created_at"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 20,
                            "module": "supabase:createARow",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 9107932
                            },
                            "filter": {
                                "name": "Halt - KB Exists",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{10.needs_draft}}",
                                            "b": "false",
                                            "o": "text:equal:ci"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "table": "execution_logs",
                                "status": "Halted - KB Exists",
                                "ticket_id": "{{1.ticket_id}}",
                                "ai_verdict": "{{10.reason}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1750,
                                    "y": -369,
                                    "name": "[DB Log] Record Halt Decision"
                                },
                                "restore": {
                                    "expect": {
                                        "table": {
                                            "mode": "chose",
                                            "label": "execution_logs",
                                            "nested": [
                                                {
                                                    "help": "Defaults to gen_random_uuid(). Note:\nThis is a Primary Key.<pk/>",
                                                    "name": "id",
                                                    "type": "text",
                                                    "label": "id",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "ticket_id",
                                                    "type": "text",
                                                    "label": "ticket_id",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "status",
                                                    "type": "text",
                                                    "label": "status",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "ai_verdict",
                                                    "type": "text",
                                                    "label": "ai_verdict",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "Defaults to timezone('utc'::text, now()). ",
                                                    "name": "created_at",
                                                    "type": "text",
                                                    "label": "created_at",
                                                    "options": null,
                                                    "required": false
                                                }
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "supabase"
                                            },
                                            "label": "Supabase MLB Production v2"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:supabase",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "text"
                                    },
                                    {
                                        "name": "ticket_id",
                                        "type": "text"
                                    },
                                    {
                                        "name": "status",
                                        "type": "text"
                                    },
                                    {
                                        "name": "ai_verdict",
                                        "type": "text"
                                    },
                                    {
                                        "name": "created_at",
                                        "type": "text"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "id"
                                    },
                                    {
                                        "name": "ticket_id",
                                        "type": "text",
                                        "label": "ticket_id"
                                    },
                                    {
                                        "name": "status",
                                        "type": "text",
                                        "label": "status"
                                    },
                                    {
                                        "name": "ai_verdict",
                                        "type": "text",
                                        "label": "ai_verdict"
                                    },
                                    {
                                        "name": "created_at",
                                        "type": "text",
                                        "label": "created_at"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}